:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    font-size: 0.875rem;
}

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--Cream);
    }

    .card {
        box-shadow: #ccc;
        border-radius: 1rem;
        width: 650px;
        background-color: var(--White);
        display: inline-flex;
    }

    .image {
        width: 300px;
        text-align: center;
        border-radius: 1rem 0 0 1rem;
    }

    .text{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .class {
        font-family: "Fraunces";
        line-height: 4;
        color: var(--Dark-grayish-blue);
        letter-spacing: 0.5rem;
        padding-top: 1rem;
    }

    .product {
        font-family: "Fraunces";
        font-weight: bolder;
        padding-bottom: 2rem;
        font-size: 2.8rem;
        line-height: 0.9;
    }

    .description {
        font-family: "Montserrat";
        color: var(--Dark-grayish-blue);
        line-height: 1.6;
        font-weight: 600;
        font-size: 1.1rem;
        padding-bottom: 1.4rem;
    }

    .row {
        position: relative;
    }

    .price {
        display: inline-block;
        font-family: "Fraunces";
        color: var(--Dark-cyan);
        font-size: 2.5rem;
        font-weight: bolder;
        padding-bottom: 1rem;
    }

    .old-price {
        position: absolute;
        top: 10%;
        padding-left: 1rem;
        display: inline-block;
        text-decoration: line-through;
        color: var(--Dark-grayish-blue);
        line-height: 1.5;
    }

    .btn {
        border: none;
        text-decoration: none;
        font-family: "Montserrat";
        padding: 1.1rem 5rem;
        font-size: 1.1rem;
        background-color: var(--Dark-cyan);
        border-radius: 0.7rem;
        color: var(--White);
        font-weight: bold;
    }

    .btn:hover {
        background-color: hsl(159, 36%, 23%);
    }

    .attribution {
        display: none;
    }

    @media screen and (max-width: 650px) {
        body {
            align-items: flex-start;
            background-color: var(--Cream);
        }   

        .card {
            box-shadow: none;
            flex-direction: column;
            width: 375px;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        #main-image {
            content: url("../images/image-product-mobile.jpg");
            width: 375px;
            border-radius: 0.5rem;
        }
        
        .btn {
            margin-bottom: 1rem;
            margin-left: 1.5rem;
        }
    }
